.page-background {
  background-color: #DEE8ED;
  min-height: 100vh;
}
    
.header-color {
  background-color: #4AB2FE;
}
  
.bg-transparent-color {
  background-color: transparent;
}

.bg-btn-login-color {
  background-color: #A9CAFC;
  color: black;
}

.bg-btn-signup-color {
  border: 2px solid black;
  color: #989696
}

.bg-btn-user-color {
  background-color: #ff7b7b;
  color: black;
}

.white-color {
  color: #FFFFFF;
}
    
.black-color {
  color: #000000;
}
    
.gray-color {
  color: #928F8F;
}

.gray-light-color {
  color: #ece9e9;
}

.blue-color {
  color: #a25117;
}

.dark-gray-color {
  color: #505050;
}
    
.border-trasnparent {
  border: 2px solid transparent;
}
